.nav-day {
  background-color: $green;
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 3px solid $dark-green;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 25px;
}

.home-icon {
  color: black;
  font-size: 30px;
}

.link-day {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px;
  &:hover {
    background-color: $dark-green;
  }
  &:active {
    color: $yellow;
    border-top: 3px solid $yellow;
    padding-bottom: 3px;
  }
}
